#secret-button, #secret-para {
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}

#secret-para {
    text-align: center;
    color: orangered;
    display: none;
}